.vertical-menu {
    width: 200px;

    
}

.vertical-menu a {
    background-color: #1B4F72;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #C0392B;
}


img{
    width:600px;
    height:200px;
    position:relative;
    margin-bottom:500px;
    left:700px;
    padding:10px;
    background-color:#239B56;
    
}
#title {text-align : center;}

h1{
    text-align: center;
    color:white;
    font-family: Times;
    font-style: italic;
   padding:10px;
   background-color: #1B4F72
   
    
    
}

p{
    width:1500px;
    position: absolute;
    right: 0;
    margin: auto;
    font-size: x-large;

 
}

